{% extends 'base.html.twig' %}

{% block title %}Initialisation de mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h2>Création d'un nouveau mot de passe</h2>

                    <form method="post">
                       
                        <div class="form-group">
                            <label for="password">Nouveau mot de passe</label>
                            <input type="password" name="password" id="password" class="form-control" 
                            placeholder="Votre mot de passe..." required>
                        </div>

                        <div class="form-group">
                            <label for="cpassword">Confirmation du passe</label>
                            <input type="password" name="cpassword" id="cpassword" class="form-control" 
                            placeholder="confirmation de votre mot de passe..." required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">
                            <i class="fas fa-check-circle"></i>
                            Enregister !
                            </button> 
                        </div>

                    </form>
                </div> 
            </div>
        </div>
    </div>
{% endblock %}
