{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h2>Changement de mot de passe</h2>

                       {{ form_start(form) }}     
                       {{ form_widget(form) }}     
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">
                            <i class="fas fa-check-circle"></i>
                            Enregistrer
                            </button>
                        </div>
                       {{ form_end(form) }}     
        
                </div> 
            </div>
        </div>
    </div>
{% endblock %}
