{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h2>Inscription au site</h2>
                                              
                        {{ form_start(form) }} 
                        {{ form_widget(form) }} 
                    
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">
                             <i class="fas fa-check"></i>
                              Valider !
                            </button>
                        </div>
                        {{ form_end(form) }}
                </div> 
            </div>
        </div>
    </div>
{% endblock %}
