<h3>Réinitialisation de mot de passe</h3>

Bonjour {{ user.firstName }} {{ user.lastName }} ! Vous venez de demander le changement de votre mot de passe. <br> <br>

Veuillez confirmer votre compte en cliquant sur ce 
        <a href="{{ url }}">lien</a> <br> <br>

Merci !!!
